.WeatherDetailsWrapper {
    /* display: flex;
    flex-direction: column; */
    /* width: 100%; */
    padding: 3rem;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    /* border-right: 1px solid grey; */
}
.WeatherIconWrapper {
    /* align-self: center; */
}
.WeatherDataWrapper {
    /* align-self: flex-start; */
}
